@font-face {
    font-family: 'star_jediregular';
    src: url('starjedi-webfont.woff2') format('woff2'),
        url('starjedi-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'star_jediregular';
    color: #ffdd18;
    background-color: black;
    text-align: center;
    margin-bottom: 50px;
}

a {
    display: block;
    text-decoration: none;
    color: white;
    font-size: 48px;
    padding: 12px; 
}

a:hover {
    color: #ffdd18;
    transition: all .5s ease;
}

h1 {
    margin: 25px;
    padding-top: 25px;
    font-size: 48px;
}

h1 > a {
    font-size: 56px;
    color: #ffdd18;
}

h1 > a:hover {
    color: #fff;
    transition: all .5s ease;
}

h2 {
    font-family: 'Franklin Gothic Medium', sans-serif;
    font-size: 40px;
    padding: 25px;
}

.movie > h2 {
    font-family: 'Franklin Gothic Medium', sans-serif;
    font-size: 54px;
    padding-top: 50px;
}

time {
    font-family: 'Franklin Gothic Medium', sans-serif;
    font-size: 26px;
}

.hidden {
    display: none;
}

.poster {
    padding: 24px;
}

.movie_detail {
    display: flex;
    justify-content: center;
}

h3 {
    font-family: 'Franklin Gothic Medium', sans-serif;
    font-size: 200px;
    text-transform: uppercase;
    color: #ffdd18;
    padding: 35px;
}

.movie > a:hover {
    color: #ffdd18;
}

p {
    font-family: 'Franklin Gothic Medium', sans-serif;
    font-size: 100px;
    text-align: justify;
}

li {
    list-style: none;
    font-family: 'Franklin Gothic Medium', sans-serif;
    font-size: 36px;
}

.crawl_parent {
    position: sticky;
    height: 500px;
    width: 100%;
    overflow: hidden;
    perspective: 400px;
}

.crawl_container {
    position: relative;
    top: -100px;
    transform-origin: 50% 100%;
    animation: 90s crawl_container 1s infinite linear;
}

@keyframes crawl_container {
    0% {
        top: 600px;
        transform: rotateX(20deg) translateZ(0);
    }
    100% {
        top: -6000px;
        transform: rotateX(25deg) translateZ(-2500px)
    }
}

